<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <title>about</title>
</head>
<body>
    {{>header}}
    <div class="about-content">
        <img src="/img/img2.jpg" alt="default mens image" class="image"/>
        <p>This site is made by Mohan Kumar as a practice project. It uses mapbox.com api to get the location data and weatherstack.com api to get weather data</p>
    </div>
    {{>footer}}
</body>
</html>