<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>Use this site to get your weather</h1>
        <form>
            <input type="text" placeholder="location" value=""/>
            <button type="submit">Search</button>
        </form>

        <p id="location"></p>
        <p id="msgBar">
            current temperature is <span id="temperature"></span> and it feels like <span id="feels-like"></span>
        </p>
        <p id="error"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>