<header class="header">
    <div class="app-icon">
        <a href="/"><img src="https://img.icons8.com/color/96/000000/windy-weather--v2.png"/></h1>
    </div>
    <div class="header-anchor">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header>
